<div class="background">
  <h1>Compilador Java</h1>
  <header class="mb-3">
    <div class="btn-group botao" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Tipo de Analisador
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Analisador Lexico</a></li>
          <li><a class="dropdown-item" href="#">Analisador sla2</a></li>
          <li><a class="dropdown-item" href="#">Analisador sla3</a></li>
        </ul>
      </div>
    </div>
    <button id="compilerButton" class="btn btn-primary botao" (click)="btnCopilar()">
      Compilar
    </button>
  </header>

  <main class="">

    <div class="container">
      <div class="line-numbers">
        <ng-container *ngFor="let line of textareaLines">
          <div>
             {{ line }}
          </div>
        </ng-container>
      </div>
      <textarea
        name=""
        id="codigo"
        rows="10"
        class="texto"
        [(ngModel)]="texto"
        (ngModelChange)="btnCopilar()"
        spellcheck="false"
        appHighlightWordsWithE
        #textareaRef
      ></textarea>
    </div>

    <div class="resultado" [hidden]="show()">
      <p class="texto" *ngFor="let t of textoConvertido">
        <span style="color: rgb(233, 44, 44);">Error: </span>{{t.tipoError.token}}
        <span style="color: rgb(233, 44, 44);">Linha: </span>{{t.linha}}
        <span style="color: rgb(233, 44, 44);">Coluna: </span> {{t.coluna}}
      </p>
    </div>

    <div id="credits">
      <p>Powered by</p>
      <p>Chistian, Matheus, Daniel, Vanderson</p>
    </div>
  </main>
</div>