body {
    background-color: rgb(88, 88, 88);
}

body textarea {
    background-color: rgb(77, 71, 87);
    color: rgb(255, 255, 255);
}

body pre#arvore {
    /* background-color: rgb(77, 71, 87); */
    color: rgb(255, 255, 255);
}

.texto {
    width: 100%;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 20px;
}

header {
    display: flex;
    justify-content: center;
}

.botao {
    margin: 0 10px;
}

.CodeMirror {
    height: auto !important;
    margin: 20px 80px;
    background-color: aliceblue !important;
}

ul {
    list-style-type: none;
}

.node {
    margin-left: 20px;
}

#credits, #tree{
    color: white;
}
