ul {
  list-style-type: none;
}

h1 {
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
}

.background {
  background-color: rgb(88, 88, 88);
  padding: 0 3rem;
}

.background textarea {
  background-color: rgb(77, 71, 87);
  color: rgb(255, 255, 255);
}

.background pre#arvore {
  /* background-color: rgb(77, 71, 87); */
  color: rgb(255, 255, 255);
}

.texto {
  width: 100%;
}

.botao {
  margin: 0 10px;
}

.CodeMirror {
  height: auto !important;
  margin: 20px 80px;
  background-color: aliceblue !important;
}

.node {
  margin-left: 20px;
}

#credits,
#tree {
  color: white;
}

#credits {
  padding-top: 1rem;
}
#credits > p {
  margin: 0;
}

.resultado {
  border-width: 2px;
  border-style: outset;
  border-color: silver;
  background-color: rgb(77, 71, 87);
  padding: 1rem;
  color: white;
}

.resultado > p {
  margin: 5px;
}
