/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
}

.texto {
  position: relative;
}

.texto .highlighted {
  position: absolute;
  bottom: -2px; /* Ajuste conforme necessário para o posicionamento do sublinhado */
  text-decoration: underline;
  color: red; /* Cor do sublinhado */
}

